In [ ]:
import pandas as pd

In [2]:
data = pd.read_excel("./my discharge water level data.xlsx")

iloc = find/slice with index

data.iloc[row_index, column_index]

In [5]:
iloc_find = data.iloc[2,2]
iloc_find

4.0

In [9]:
iloc_find = data.iloc[1,0]
iloc_find # will give time
iloc_find.value # will give time value, not like our normal time

Timestamp('2012-01-02 00:00:00')

In [10]:
iloc_find = data.iloc[[1,2]]
iloc_find

        Date  Discharge   WL
1 2012-01-02       20.0  NaN
2 2012-01-03        NaN  4.0

In [16]:
iloc_find = data.iloc[[1,2],[1]]
iloc_find

   Discharge
1       20.0
2        NaN

In [12]:
iloc_find = data.iloc[[1,2],:]
iloc_find

        Date  Discharge   WL
1 2012-01-02       20.0  NaN
2 2012-01-03        NaN  4.0

In [14]:
iloc_find = data.iloc[0:5,:]
iloc_find

        Date  Discharge   WL
0 2012-01-01       10.0  2.0
1 2012-01-02       20.0  NaN
2 2012-01-03        NaN  4.0
3 2012-01-04       40.0  5.0
4 2012-01-05       50.0  NaN

In [15]:
iloc_find = data.iloc[0:5,[0,2]]
iloc_find

        Date   WL
0 2012-01-01  2.0
1 2012-01-02  NaN
2 2012-01-03  4.0
3 2012-01-04  5.0
4 2012-01-05  NaN