In [ ]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({'A':[1,2,3],"B":['abir','jabir','khabir']})
df2 = pd.DataFrame({'C':[4,5,6],"D":['jamal','kamal','abir']})
display(df1,df2)

   A       B
0  1    abir
1  2   jabir
2  3  khabir

   C      D
0  4  jamal
1  5  kamal
2  6   abir

In [4]:
df1.join(df2)

   A       B  C      D
0  1    abir  4  jamal
1  2   jabir  5  kamal
2  3  khabir  6   abir

In [5]:
df2.join(df1)

   C      D  A       B
0  4  jamal  1    abir
1  5  kamal  2   jabir
2  6   abir  3  khabir

In [6]:
df3 = pd.DataFrame({'A':[1,2,3],"B":['abir','jabir','khabir']},index = ['a','b','c'])
df4 = pd.DataFrame({'C':[4,5,6],"D":['jamal','kamal','abir']}, index = ['a','b','c'])
display(df3,df4)

   A       B
a  1    abir
b  2   jabir
c  3  khabir

   C      D
a  4  jamal
b  5  kamal
c  6   abir

index same na holey join kora jby na

In [7]:
df3.join(df4)

   A       B  C      D
a  1    abir  4  jamal
b  2   jabir  5  kamal
c  3  khabir  6   abir