In [ ]:
import pandas as pd

In [3]:
df1 = pd.DataFrame({'a':[1,2,3],'b':[111,112,113]})
df2 = pd.DataFrame({'a':[10,11,12],'b':[211,212,213]})
display(df1,df2)

   a    b
0  1  111
1  2  112
2  3  113

    a    b
0  10  211
1  11  212
2  12  213

In [5]:
df1._append(df2)

    a    b
0   1  111
1   2  112
2   3  113
0  10  211
1  11  212
2  12  213

In [6]:
df1._append(df2, ignore_index= True)

    a    b
0   1  111
1   2  112
2   3  113
3  10  211
4  11  212
5  12  213